* {
    box-sizing: border-box;
}

body {
    background-color: rgb(191, 231, 191);
    
}

.header {
    display:block;
    min-width: 100%;
    font-size: 12px;
}
.header ul {
    list-style-type: none;
}
.header ul li {
    display: inline-block;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
a {
    text-decoration: none;
    color:purple;
}