* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    background-color: rgb(191, 231, 191);
}

.header {
    min-width: 100%;
    font-size: 12px;
}
.header ul {
    list-style-type: none;
}
.header ul li {
    text-decoration: none;
    color: purple;
}
#question-container {
    margin: auto;
    width: 50%;
}

#question {
    font-style: bold;
    font-size: 24px;
    color: purple;
}

.btn {
    padding:20px;
    background-color:blue;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}